.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    background: var(--White);
    width: 370px;
    height: 384px;
    padding: 40px 0;
    border-radius: 20px;
}


.Persimmon {
    background: var(--Mandys-Pink);
    color: var(--Persimmon);
}


.Observatory {
    background: var(--Aqua-Squeeze);
    color: var(--Observatory);
    display: flex;
    align-items: center;
    justify-content: center;
}


.Observatory i {
    font-size: 23px;
}


.Sweet-Corn {
    background: var(--Light-Yellow);
    color: var(--Sweet-Corn);
}


.Sweet-Corn i {
    font-size: 23px;
}


.feature-card span {
    padding: 20px;
    border-radius: 20px;
    width: 60px;
}


.feature-card h3 {
    color: var(--Mine-Shaft);
}


.feature-card p {
    color: var(--Mine-Shaft);
    width: 310px;
    text-align: center;
}


.feature-card h6 {
    color: var(--Observatory);
}


.feature-card h6 img {
    width: 20px;
}


.feature-card .flex {
    gap: 10px;
}


/* Tablet */
@media (max-width: 780px) {
    .feature-card {
        width: 90%;
    }


    .feature-card p {
        text-align: center;
    }
}